<section class="main-page__ticker-section">
    <div class="main-page__ticker-wrapper">
      <h3 class="main-page__ticker-wrapper-title">
        Block 1
      </h3>
      <p class="main-page__ticker-wrapper-text">
        Lorem ipsum doloret amet.
      </p>
    </div> 
   <br />
    <div class="main-page__ticker-wrapper">
        <h3 class="main-page__ticker-wrapper-title">
          Block 2
        </h3>
        <p class="main-page__ticker-wrapper-text">
          Lorem ipsum doloret amet.
        </p>
      </div> 
    <br />
      <div class="main-page__ticker-wrapper">
          <h3 class="main-page__ticker-wrapper-title">
            Block 3
          </h3>
          <p class="main-page__ticker-wrapper-text">
            Lorem ipsum doloret amet.
          </p>
        </div> 
  </section>