<section class="main-page__games-section">
    <div class="main-page__games-wrapper">
      <h3 class="main-page__games-wrapper-title">
          {{team.name}} vs. {{team.name | uppercase}}
      </h3>
     
     <div class="main-page__games-wrapper-image">
        <img src="{{team.image}}" alt="team"> 
        <img src="{{team.image}}" alt="team2">
    </div>
    <p class="main-page__games-wrapper-text">
        Lorem Ipsum
        </p>
  </div>     
    
    <div class="main-page__games-wrapper">
      <h3 class="main-page__games-wrapper-title">
          {{team.name | uppercase}} vs. {{team.name | uppercase}}
      </h3>
      
      <div class="main-page__games-wrapper-image">
          <img src="{{team.image}}" alt="team"> 
          <img src="{{team.image}}" alt="team2">
      </div> 
      <p class="main-page__games-wrapper-text">
        Lorem Ipsum
        </p>
    </div>
  </section>


