    <section class="main-page__header">
      <div class="main-page__header-cup-image-wrapper"
           style="text-align:center">
        <img class="main-page__header-cup-image"
             width="300"
             alt="WorldCup"
             src="https://vignette.wikia.nocookie.net/logopedia/images/d/d1/2018_FIFA_World_Cup_logo.png/revision/latest?cb=20141103234136">
      </div>
  
      <h1 class="main-page__header-title">{{ title }}!</h1>
      <h2 class="main-page__header-subtitle">{{ subtitle }}</h2>
      <p class="main-page__header-text">{{ paragraph }}</p>
    </section>
  
    <br />
    <app-box></app-box>    
    <br />
    <app-ticker></app-ticker>
   


<!-- <app-ticker></app-ticker> -->




<!-- <div style="width: 300px; height: 300px; background-color: #777777; float:left;">Block 1</div>
    <div style="width: 300px; height: 300px; background-color: #777777; float:right;">Block 2</div><br>

<div style="width: 100%; height: 150px; background-color: red; clear:both">next</div>
<div style="width: 100%; height: 150px; background-color: yellow; clear:both">next</div>
<div style="width: 100%; height: 150px; background-color: red; clear:both">next</div>
 -->
